:root {
  --text: #212121;
  --accentcolor: #2196f3;
  --subtext: #757575;
  --bgbutton: #f5f4fa;
  --background: #2f303a;
  --addresscolor: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.work-item {
  padding-top: 0;
}

/* header */
.nav:visited,
.logo:visited {
  color: var(--text);
}

.contacts:visited {
  color: var(--subtext);
}

.nav:hover,
.nav:focus,
.contacts:focus,
.contacts:hover {
  color: var(--accentcolor);
}

.contacts:focus svg,
.contacts:hover svg{
  fill: var(--accentcolor);
}

svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav.current {
  color: var(--accentcolor);
  position: relative;
}

.current::after{
content: '';
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
bottom: 0;
background-color: var(--accentcolor);
position: absolute;

}

nav,
.container.header {
  display: flex;
  align-items: center;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.site-nav,
.site-contacts {
  display: flex;
  align-items: center;
}


.site-nav li:not(:last-child),
.site-contacts li:not(:last-child) {
  margin-right: 50px;
}

.site-contacts {
  margin-left: auto;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accentcolor);
  margin-top: 0;
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: #ffffff;
}

.nav {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .contacts{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  color: var(--subtext);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* studio */
.hero-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
   url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-order {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;

  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--accentcolor);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close{
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus,
.close:hover{
fill: var(--accentcolor);

}

.backdrop.is-hidden{
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(1.1);
opacity: 0; 
}

.features {
  display: flex;
}
.features .item {
  flex-basis: calc((100% - 90px) / 4);
}
.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-icon{
  display: flex;
  margin-bottom: 30px;
}

.list-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;

}


.list-icon:not(:last-child){
  margin-right: 30px;
}

.competences {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.competences-description {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  color: var(--subtext);
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-bg {
  background-color: #f5f4fa;
}

.pictures {
  display: flex;
}

.pictures .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.cards {
  width: 270px;
  height: 428px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-description {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
  color: var(--subtext);
}

/* portfolio */

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accentcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button li:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background: var(--bgbutton);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.container-bg {
  margin-left: 30px;
  margin-top: 30px;

  width: 370px;
  height: 404px;
  background: #ffffff;
}
.container-bg {
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-bg:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb{
  position: relative;

  overflow: hidden;
}

.container-bg:hover .overlay{
  transform: translateY(0);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-pictures{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

/* .container-bg:not(:nth-child(3n)) {
  margin-right: 30px;
}

.container-bg:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filters {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--subtext);
}

/* footer */
.address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: inherit;
}

footer {
  background: var(--background);
  /* padding-top: 60px; */
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address p {
  margin-bottom: 9px;
}

.address .contacts {
  color: var(--addresscolor);
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.icon-item{
  display: flex;
justify-content: center;
}

.icon-item li:not(:last-child){
  margin-right: 10px;
}

.icon {
  box-sizing: border-box;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 10px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: #fff;
  fill: var(--subtext);
}


.link-icon {
  display: inline-flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:focus,
.link-icon:hover{
  background-color: var(--accentcolor);
  
}
.link-icon:hover .site-icon,
.link-icon:focus .site-icon {
  fill: #fff;
}

.client-list{
  display: flex;
}

.client-icon a{
  display: inline-flex;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.client-icon:not(:last-child){
  margin-right: 30px;
}

.client-icon a:hover,
.client-icon a:focus{
  fill: var(--accentcolor);
  border-color: var(--accentcolor);
}

.joing-us{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-footer{
  display: inline-flex;

}
  
.icon-footer li:not(:last-child){
  margin-right: 10px;
}

.link-footer{
  background-color:#FFFFFF10;
}

.link-footer svg{
  fill: #FFFFFF;
}

.foot{
  display: flex;
}

.joing{
  margin-top: 72px;
  margin-left: 70px;
}

.foot-address{
  margin-top: 60px;
}
.sub{
  display: flex;
}
.subscribe{
  
  margin-top: 72px;
  margin-left: 93px;
}

.subscribe input{
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #FFFFFF;
}

.btn-sub{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;

  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--accentcolor);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 108px;
  margin-left: 12px;
}

.plane{
  margin-left: 10px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/plane.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-title{
  margin-top: 40px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
.form-field{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.form-label{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input{
  margin: 0;
  margin-top: 4px;
  padding: 10px 20px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:not(:last-child){
  margin-bottom: 10px;
}



.form-input.comment{
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.form-input:focus{
border-color: #2196F3;
outline-width: 1px;
outline: none;
}

.input-icon{
  position: absolute;
  top: 29px;
  left: 12px;
  display:block;
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.form-input:focus + .input-icon{
  fill: var(--accentcolor);
}

.last{
  margin-bottom: 20px;
}

.check + .button-order{
  margin-top: 30px;
}

.check{
  position: relative;
}

.checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 76px;
}

.checkbox-icon{
  position: absolute;
  top: 50%;
  left: 52px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transform: translateY(-50%);
}

.checkbox:checked ~ .checkbox-icon{
  border-color: var(--accentcolor);
  background-color: var(--accentcolor);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;


}

.policy-text a{
  color: var(--accentcolor);
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  
}
